apm-server:
  data_streams:
    # We aren't writing to Elasticsearch, so there is no
    # need to wait for the integration to be installed.
    wait_for_integration: false
logging:
  level: info
  json: true
  to_files: true
  files:
    name: apm-server.json
output.file:
  path: '${path.logs}'
  filename: output.json
http.host: localhost
