# {{ ansible_managed }}

filebeat.prospectors:
- paths:
  - '{{ filebeat_logs_dir }}/*.log'

output.file:
  path: '${path.logs}'
  filename: output.json

logging:
  level: info
  json: true
  files:
    name: {{ beat_name }}.json
