# {{ ansible_managed }}

heartbeat.monitors:
- type: http
  schedule: '@every 1s'
  urls: ["http://localhost:12345"]
  enabled: true

output.file:
  path: '${path.logs}'
  filename: output.json

logging:
  level: info
  json: true
  to_files: true
  files:
    name: {{ beat_name }}.json

http.host: localhost
