# {{ ansible_managed }}

metricbeat.max_start_delay: 0

metricbeat.modules:
- module: system
  metricsets: [cpu, process]
  period: 1s

output.file:
  path: '${path.logs}'
  filename: output.json

logging:
  level: info
  json: true
  files:
    name: {{ beat_name }}.json
