---

- name: Assert Packetbeat http event
  shell: 'grep "GET /favicon.ico" {{ beat_output_file }} | tail -1'
  register: http_json
  when: ansible_system == "Linux"

- set_fact: http_event="{{ http_json.stdout | from_json }}"
  when: ansible_system == "Linux"

- name: Assert Packetbeat http event (win)
  win_shell: 'cat -Encoding UTF8 {{ beat_output_file }} |
    select-string -Encoding UTF8 "GET /favicon.ico" |
    Select -Expandproperty Line | select -First 1'
  register: http_json_win
  when: ansible_system == "Win32NT"

- set_fact: http_event="{{ http_json_win.stdout | from_json }}"
  when: ansible_system == "Win32NT"

- debug:
    var: http_event
- assert:
    that:
      - "'@timestamp' in http_event"
      - "'@metadata' in http_event"
      - "'http' in http_event"
      - "'beat' in http_event"
